* {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

body {
	margin: 8px; 
	color: grey;
	font-size: 18px;
	font-family: Arial;
}

h1, h2 {
	font-size: 24px;
	font-weight: 200;
}

p {
	font-size: 14px; 
}

form {
	display: flex;
	flex-direction: column;
}

input, textarea {
	width: 300px;
	margin: 6px;
	font-size: 14px;
	font-family: Arial;
        padding: 12px 20px;	
        border: 2px solid #ccc;	
}

textarea {
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[type="submit"] {
	color: grey;
	font-weight: 600;
	border-radius: 6px;
	background-color: #f8f8f8;
	transition: .5s;
}

input[type="submit"]:hover {
	color: white;	
	background-color: #008CBA;
	border-color: transparent;
}

hr.custom-style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
